@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An unexpected error occurred while processing your request, please try again.</h2>
<h3>Please <a asp-area="" asp-controller="home" asp-action="index">click here to go to home page.</a></h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}